@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html, body  {
    height: 100%;
    margin : 0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#212529;

}

a {
    text-decoration: none;
    color : white;
}

a:hover {
    color : whitesmoke;
}

header {
    background-color:blue;
    color : #FFF;
    font-size: 1.2rem;
}

footer {
    background-color: #212529;
    color: #FFF;
    font-size: 1.2rem;
}


/* Masquer l'élément en dessous de 576 px */
@media(max-width: 576px) {
    .masquer {
        display : none;
    }
}

.maPhoto {
    float : none;
}


.styleCadre {
    background-color: #212529;
    color: white;
    text-align: justify;
}

article:first-line {
    font-size: 1.2rem;
    color : #5bc0de;
    font-weight: bold;
}

.maPhoto{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    float : left;
    shape-outside: circle();
    transition: transform 2s linear;
}

.maPhoto:hover {
    transform : rotate(360deg);
    border : 2px solid red;
}

main.background:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('fond.jpg');
    background-size: cover;
    opacity: 1;
}

.centrer {
    position : absolute;
    top : 50%;
    left: 50%;
    margin-top:-9em;
    margin-left: -15em;

}

.popover {
    color : black; !important;
    background-color: dodgerblue;
}